/*
    @Time       : 2020/11/14 23:32 
    @Author     : MYH            
    @File       : index.css
    @Software   : WebStorm
*/

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 92vh;
}

.header{
    width: 100%;
    height: 8vh;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
}

.header .logo{
    width: auto;
    height: 75%;
    float: left;
    margin-top: 0.8vh;
    margin-left: 2%;
    border-radius: 10px;
}

.header .backToLogin{
    width: auto;
    height: 100%;
    margin-right: 5%;
    /*background-color: whitesmoke;*/
    float: right;
    line-height: 8vh;
    padding: 0 20px 0 20px;
    font-weight: bold;
}

.header .backToLogin a{
    color: whitesmoke;
    text-decoration: none;
}

.content{
    width: 100%;
    margin-top: 8vh;
    height: 92vh;
    background-color: yellow;
}

.content .leftContent{
    width: 24%;
    height: calc(100% - 8vh);
    float: left;
    background-color: whitesmoke;
    text-align: center;
    border-right: 1px black solid;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 8vh;
}

.content .leftContent .head img{
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    border: 2px solid gray;
    box-shadow: black 10px 10px 60px;
}

.content .leftContent .options{
    margin: 6vh auto;
    width: 60%;
    font-weight: bold;
    font-size: 30px;
}

.content .leftContent .options li{
    list-style: none;
    margin-bottom: 40px;
    padding: 20px;
    background-color: yellow;
    border: 4px solid orange;
    transform: skew(-20deg);
    border-radius: 20px 0 ;
    box-shadow: darkorange 5px  5px 30px ;
}

.content .rightContent{
    width: 76%;
    height: 100%;
    float: right;
    background-color: white;
}