# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\maoyuhuan\Documents\GitHub\Hziee-maoyuhuan.github.io\learning\testCodeProject\idea\hello\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
