body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    box-sizing: border-box;
    overflow-x: hidden;
    text-align: center;
}

.header {
    width: 100vw;
    height: var(--height-of-nav);
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    width: 100vw;
    /* 需要修改 */
    height: 190vh;
    background-color: greenyellow;
    margin-top: var(--height-of-nav);
}

.content .main {
    width: 80%;
    height: 100%;
    background-color: pink;
}

.content .main .introduce {
    width: 700px;
    height: 300px;
    background-color: yellow;
    float: left;
    margin-left: 100px;
    margin-top: 150px;
    text-align: center;
    vertical-align: middle;
}

.content .main .introduce_pic {
    float: right;
    margin-right: 100px;
    margin-top: 70px;
}

.content .main .introduce_pic .photo_frame {
    padding: 20px;
    background-color: green;
}

.content .main .introduce_pic .photo_frame img {
    width: 400px;
}